code, pre {
  font-family: "Cica", "Consolas", monospace;
}

code:not(:root), pre {
  font-size: .920rem;
}

.content table {
  width: 75%;
}

.content table th,
.content table td,
.content table thead td,
.content table thead th {
  border-width: 1px;
}

.content table tbody tr:last-child td,
.content table tbody tr:last-child th {
  border-bottom-width: 1px;
}

.content table tbody tr:not(.is-selected):nth-child(even) {
  background-color: #fafafa
}
