<!DOCTYPE html>
<html lang="{{with .Site.Params.language}}{{.}}{{else}}en{{end}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ block "title" .}}{{ .Site.Title }}{{ end }}</title>
  {{ partial "head.html" }}
</head>
<body>
  {{ block "main" . }}{{ end }}
</body>
</html>