{{ define "title" }}{{ .Title }}::{{ .Site.Title }}{{ end }}
{{ define "main" }}
<section class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column">
        <aside class="menu">
          {{ .TableOfContents }}
        </aside>
      </div>
      <div class="column is-two-thirds">
        {{ if .Params.hero }}
        <h1 class="title">{{ .Title }}</h1>
        {{- if .Params.subtitle }}<span class="subtitle">{{ .Params.subtitle }}</span>{{ end }}
        <hr>
        {{ end }}
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var tocItems = document.querySelectorAll('#TableOfContents ul')
    if (tocItems && tocItems.length) {
      for (var i = 0; i < tocItems.length; i++) {
        var tocItem = tocItems[i];
        tocItem.classList.add('menu-list')
      }
    }
  })
</script>
{{ end }}